style.css
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
.navbar{
	width: 90%;
	padding: 30px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
  	top: 0;
  	left: 50%;
 	transform: translateX(-50%);
  	z-index: 10;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 20px;
	cursor: pointer;
}
.navbar ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	padding: 15px;
	border-radius: 50px;
}
li a:hover{
	background: #481f01;
	transition: 0.5s;
}
.navbar a:hover{
	color: white;
}

body{
	background-image: url(../Sources/background.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	margin-left: 350px;
	user-select: none;
}
.container{
	position: fixed;
	padding: 50px 0;
	width: auto;
	background: white;
}
.wrapper{
	padding: 10px 10%;
	width: auto;
}
.card-area{
	margin-top: 85px;
	position: fixed;
	display: flex;
	margin-top: 50px;
	gap: 5%;
	grid-template-columns: repeat(auto-fit, minmax, 250px, 1fr);
	width: auto;
	top: 120px;
	left: 10px;
	right: 10px;
	bottom: 0;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	overflow-y: auto;
	z-index: 4;
	padding-inline: 5%;
	padding-bottom: 10px;
}

.card-area::-webkit-scrollbar {
    background-color: transparent;
}
    
.card-area::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 50px;    
}
    
.card-area::-webkit-scrollbar-track {
    margin-bottom: 40px;
    margin-right: 5px;
}

.card{
	position: relative;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
	overflow: hidden;
	width: 350px;
}
.card img{
	height: 350px;
	width: auto;
	display: block;
	border-radius: 10px;
	transition: transform 0.5s;
}
.overlay{
	height: 0;
	width: auto;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 10px;
	display: flex;
	background: linear-gradient(transparent, #0F2573 60%);
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
	overflow: hidden;
}
.overlay h3{
	margin-top: 55%;
	margin-bottom: 5px;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 2px;
}
.overlay a{
	margin-top: 10px;
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
	color: #0F2573;
	background: #fff;
	border-radius: 50px;
	text-align: center;
	padding: 5px 15px;
	font-family: sans-serif;
	font-weight: bold;
}
.card:hover img{
	transform: scale(1.2);
}
.card:hover .overlay{
	height: 100%;
	width: auto;
}
.background{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: repeating-linear-gradient(#0504aa, #fdf243);
	opacity: 50%;
	z-index: -100;
}
body::-webkit-scrollbar {
    background-color: transparent;
}
    
body::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 50px;    
}
    
body::-webkit-scrollbar-track {
        margin-block: 20px;
        margin-right: 5px;
}

.Contents {
	padding-top: 20px;
	position: fixed;
	top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
	font-size: 20px;
	backdrop-filter: blur(40px);
	border-radius: 50px;
	border:1px solid black;
	overflow: hidden;
	box-shadow: 0 0 20px black;
}

.title .SemiTitle {
	color: yellow;
	width: 400px;
	padding-block: 15px;
	border-radius: 50px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title .Title {
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	width: 200px;
	margin-bottom: -25px;
	padding-top: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menuOpen {
    position: fixed;
    top: 20px;
    right: 20px;
    padding-top: 3px;
    background: black;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.backOpen:hover {
    padding-left: 50px;
    transition: 0.3s;
}

.menuClose {
    position: fixed;
    top: 20px;
    right: 20px;
    padding-top: 3px;
    background: black;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    z-index: -10;
    transition: 0.4s;
}

.backClose:hover {
    padding-left: 50px;
    transition: 0.3s;
}

.menuContents {
    position: fixed;
    right: 20px;
    top: 20px;
    height: 0px;
    width: 0px;
    background-color: black;
    overflow: hidden;
    border-radius: 20px;
    z-index: 1;
}

.menuTitle {
    font-size: 25px;
    right: 90px;
    margin-top: 15px;
    font-family: sans-serif;
}

.menuOptions {
    margin-top: 0px;
    overflow: hidden;
}

.logo {
    position: fixed;
    display: none;
}

.menuOption {
    font-weight: bold;
    color: white;
    background-color: black;
    padding-block: 20px;
    width: 200px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.menuOption:hover {
    background-color: hsl(0, 0%, 11%);
    transition: 0.3s;
}

@media (max-aspect-ratio: 9/16) {

	.SemiTitle {
		margin-top: -20px;
	}

    .menuOpen {
        position: fixed;
        top: 20px;
        right: 20px;
        padding-top: 3px;
        background: black;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;
    }



    .Contents {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        background: transparent;
        backdrop-filter: blur(40px);
        border-radius: 0px;
        overflow: hidden;
    }

	.card-area {
		top: 125px;
		padding-bottom: 10px;
		padding-inline: 0px;
		right: 5px;
		left: 0;
	}

  }